extends layout

block content
  div.titlebox
    h1. Documents
  div.textbox.document-border(style="left: 0; right: 0; top: 200px; bottom: 0; position: absolute;")
    div.container(style="margin-top:40px;")
      div.row
        div.col-md-10.col-md-offset-1
          table(id="files")
            thead
              tr
                th Document
                th Type
                th Date
            tbody
              tr
                td 
                  a(href="files/tesla_thesis_proposal_spring_v2.docx"). Thesis Proposal
                td Word Document
                td February 22, 2014
              tr
                td 
                  a(href="files/tesla_thesis_proposal_defense_presentation.pdf"). Thesis Proposal Presentation
                td PDF (Powerpoint Presentation)
                td February 22, 2014
              tr 
                td 
                  a(href="files/Budget.xlsx"). Current Budget
                td Excel Spreadsheet
                td February 22, 2014
              tr
                td
                  a(href="files/quad_tesla.pptx"). DARPA Quad Chart
                td Powerpoint Presentation
                td February 25, 2014
              tr
                td
                  a(href="files/subteam2-28.pptx"). Weekly Team Progress Report
                td Powerpoint Presentation
                td February 28, 2014
              tr
                td
                  a(href="files/subteam3-7.pptx"). Weekly Team Progress Report
                td Powerpoint Presentation
                td March 7, 2014

