extends layout

block content
	h1.title
	div.whitebox
		div.row
			div.col-sm-6.col-md-4
				a.thumbnail(href="#")
					img.logo(src="/images/gems_circle.png",style="width:150px;height:150px;")
			div.col-sm-6.col-md-4
				a.thumbnail(href="#")
					img.logo(src="/images/umd_circle.png",style="width:150px;height:150px;")
			div.col-sm-6.col-md-4
				a.thumbnail(href="#")
					img.logo(src="/images/honors_circle.png",style="width:150px;height:150px;")
