extends layout

block content
	h1.title Time-Reversed Energy Sourced Through Localized Antenna
	div.logobox
		div.container-fluid
			div.row
				div.col-md-2.col-md-offset-3
					div.circularumd
				div.col-md-2
					div.circulargems
				div.col-md-2
					div.circularhonors
