extends layout

block content
	h1.title Time-Reversed Energy Sourced Through Localized Antenna
	div.logobox
		div.container
			div.row
				div.col-md-2.col-md-offset-3
					a(href="http://www.umd.edu")
						img.media-object.indexthumb(src="/images/umd_circle.png")
				div.col-md-2
					a(href="http://www.gemstone.umd.edu")
						img.media-object.indexthumb(src="/images/gems_circle.png")
				div.col-md-2
					a(href="http://www.honors.umd.edu")
						img.media-object.indexthumb(src="/images/honors_sheild.png")
