extends layout

block content
  div.titlebox
    h1= title
  div.textbox.people-border(style="left: 0; right: 0; top: 200px; bottom: 0; position: absolute; overflow: scroll;")
    div.container(style="margin-top:40px;")
      div.row
        div.col-md-9(role="main")
          div(id="members")
            h2(style="padding-bottom:25px;"). Team Members
            div.row
              div.col-md-6
                div.media(style="border-left: 8px solid #ff3419;")
                  a.pull-left(href="",style="padding-left: 15px; padding-bottom: 7px; padding-top: 7px;")
                    img.media-object.teamthumb(src="/images/dan.jpg")
                  div.media-body
                    h3.media-heading(style="padding-left:30px;font-weight:bold;") Daniel Bolton
                    p.teaminfo 
                      |  Engineering Major 
                      br
                      a(href="/teams#lossy"). Lossy Events Team
              div.col-md-6
                div.media(style="border-left: 8px solid #5a9ad5;")
                  a.pull-left(href="",style="padding-left: 15px; padding-bottom: 7px; padding-top: 7px;")
                    img.media-object.teamthumb(src="/images/frank.jpg")
                  div.media-body
                    h3.media-heading(style="padding-left:30px;font-weight:bold;") Frank Cangialosi
                    p.teaminfo 
                      |  Computer Science Major 
                      br
                      a(href="/teams#rectenna",style="color:#5a9ad5;") Rectenna Team

            div.row
              div.col-md-6
                div.media(style="border-left: 8px solid #ff3419;")
                  a.pull-left(href="",style="padding-left: 15px; padding-bottom: 7px; padding-top: 7px;")
                    img.media-object.teamthumb(src="/images/anu.jpg")
                  div.media-body
                    h3.media-heading(style="padding-left:30px;font-weight:bold;") Anu Challa
                    p.teaminfo 
                      |  Engineering Major 
                      br
                      a(href="/teams#lossy"). Lossy Events Team Team
              div.col-md-6
                div.media(style="border-left: 8px solid #5a9ad5;")
                  a.pull-left(href="",style="padding-left: 15px; padding-bottom: 7px; padding-top: 7px;")
                    img.media-object.teamthumb(src="/images/tim.jpg")
                  div.media-body
                    h3.media-heading(style="padding-left:30px;font-weight:bold;") Tim Furman
                    p.teaminfo 
                      |  Engineering Major 
                      br
                      a(href="/teams#rectenna",style="color:#5a9ad5;") Rectenna Team

            div.row
              div.col-md-6
                div.media(style="border-left: 8px solid #6fac46;")
                  a.pull-left(href="",style="padding-left: 15px; padding-bottom: 7px; padding-top: 7px;")
                    img.media-object.teamthumb(src="/images/tyler.jpg")
                  div.media-body
                    h3.media-heading(style="padding-left:30px;font-weight:bold;") Tyler Grover
                    p.teaminfo 
                      |  Physics Major 
                      br
                      a(href="/teams#modeling",style="color:#6fac46;"). Modeling Team
              div.col-md-6
                div.media(style="border-left: 8px solid #ffbf00;")
                  a.pull-left(href="",style="padding-left: 15px; padding-bottom: 7px; padding-top: 7px;")
                    img.media-object.teamthumb(src="/images/patrick.jpg")
                  div.media-body
                    h3.media-heading(style="padding-left:30px;font-weight:bold;") Patrick Healey
                    p.teaminfo 
                      |  Engineering Major 
                      br
                      a(href="/teams#antenna",style="color:#ffbf00;") Antenna Team

            div.row
              div.col-md-6
                div.media(style="border-left: 8px solid #5a9ad5;")
                  a.pull-left(href="",style="padding-left: 15px; padding-bottom: 7px; padding-top: 7px;")
                    img.media-object.teamthumb(src="/images/ben.jpg")
                  div.media-body
                    h3.media-heading(style="padding-left:30px;font-weight:bold;") Benjamin Phillip
                    p.teaminfo 
                      |  Engineering Major 
                      br
                      a(href="/teams#antenna",style="color:#5a9ad5;"). Rectenna Team
              div.col-md-6
                div.media(style="border-left: 8px solid #ff3419;")
                  a.pull-left(href="",style="padding-left: 15px; padding-bottom: 7px; padding-top: 7px;")
                    img.media-object.teamthumb(src="/images/brett.jpg")
                  div.media-body
                    h3.media-heading(style="padding-left:30px;font-weight:bold;") Brett Potter
                    p.teaminfo 
                      |  Engineering Major 
                      br
                      a(href="/teams#lossy") Lossy Events Team

            div.row
              div.col-md-6
                div.media(style="border-left: 8px solid #6fac46;")
                  a.pull-left(href="",style="padding-left: 15px; padding-bottom: 7px; padding-top: 7px;")
                    img.media-object.teamthumb(src="/images/scott.jpg")
                  div.media-body
                    h3.media-heading(style="padding-left:30px;font-weight:bold;") Scott Roman
                    p.teaminfo 
                      |  Engineering Major 
                      br
                      a(href="/teams#modeling",style="color:#6fac46;"). Modeling Team
              div.col-md-6
                div.media(style="border-left: 8px solid #ff3419;")
                  a.pull-left(href="",style="padding-left: 15px; padding-bottom: 7px; padding-top: 7px;")
                    img.media-object.teamthumb(src="/images/andrew.jpg")
                  div.media-body
                    h3.media-heading(style="padding-left:30px;font-weight:bold;") Andrew Simon 
                    p.teaminfo 
                      |  Engineering Major 
                      br
                      a(href="/teams#lossy") Lossy Events Team

            div.row
              div.col-md-6
                div.media(style="border-left: 8px solid #ffbf00;")
                  a.pull-left(href="",style="padding-left: 15px; padding-bottom: 7px; padding-top: 7px;")
                    img.media-object.teamthumb(src="/images/alex.jpg")
                  div.media-body
                    h3.media-heading(style="padding-left:30px;font-weight:bold;") Alex Tabatabai
                    p.teaminfo 
                      |  Engineering Major 
                      br
                      a(href="/teams#antenna",style="color:#ffbf00;"). Antenna Team
              div.col-md-6
                div.media(style="border-left: 8px solid #6fac46;")
                  a.pull-left(href="",style="padding-left: 15px;")
                    img.media-object.teamthumb(src="/images/lc.jpg")
                  div.media-body
                    h3.media-heading(style="padding-left:30px;font-weight:bold;") Liangcheng Tao
                    p.teaminfo 
                      |  Electrical Engineering Major 
                      br
                      a(href="/teams#antenna",style="color:#6fac46;") Modeling Team

          div(id="mentor")
            h2(style="padding-top: 25px; padding-bottom:25px;"). Team Mentor
            div.media
              a.pull-left(href="",style="padding-left: 15px;")
                img.media-object.largethumb(src="/images/anlage.jpg")
              div.media-body
                h3.media-heading(style="padding-left:30px;font-weight:bold;padding-top: 20px;") Dr. Steven Anlage
                p.teaminfo 
                  |  Professor
                  br
                  |  Physics Department, University of Maryland
            
          div(id="librarian")
            h2(style="padding-top: 25px; padding-bottom:25px;"). Team Librarian
            div.media
              a.pull-left(href="",style="padding-left: 15px;")
                img.media-object.largethumb(src="/images/nevenka.jpg")
              div.media-body
                h3.media-heading(style="padding-left:30px;font-weight:bold;padding-top: 20px;") Nevenka Zdravkovska
                p.teaminfo 
                  |  Head Librarian
                  br
                  |  Engineering and Physical Sciences Library, University of Maryland
            
            
          div(id="gstaff")
            h2(style="padding-top: 25px; padding-bottom:25px;"). Gemstone Staff
            div.media
              a.pull-left(href="",style="padding-left: 15px;")
                img.media-object.largethumb(src="/images/coale.jpg")
              div.media-body
                h3.media-heading(style="padding-left:30px;font-weight:bold;padding-top: 20px;") Dr. Frank Coale
                p.teaminfo 
                  |  Director
                  br
                  |  Gemstone Program
                  br
                  |  Honors College, University of Maryland
            
            div.media
              a.pull-left(href="",style="padding-left: 15px;")
                img.media-object.largethumb(src="/images/skendall.png")
              div.media-body
                h3.media-heading(style="padding-left:30px;font-weight:bold;padding-top: 20px;") Dr. Kristan Skendall
                p.teaminfo 
                  |  Associate Director
                  br
                  |  Gemstone Program
                  br
                  |  Honors College, University of Maryland
            
            
        div.col-md-3
          div.bs-docs-sidebar.hidden-print.affix-top(role="complimentary",data-spy="affix")
            ul.nav.bs-docs-sidenav
              li.active
                a(href="#members"). Team Members
              li
                a(href="#mentor"). Team Mentor
              li
                a(href="#librarian"). Team Librarian
              li
                a(href="#gstaff"). Gemstone Staff

    
