@font-face {
  font-family: LeagueGoth;
  font-style: normal;
  src: url("/fonts/LeagueGothic-Regular.otf");
}
@font-face {
  font-family: Aleo;
  font-style: normal;
  src: url("/fonts/Aleo-Regular.otf");
}
@font-face {
  font-family: 'pacificoregular';
  src: url("/fonts/Pacifico.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'arvoregular';
  src: ur;
  font-weight: normal;
  font-style: normal;
}
body {
  padding: 50px;
  background-image: url("/images/circuits.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.roomy {
  padding: 10px;
}
a {
  color: #ff3419;
}
h1 {
  padding: 10px;
  font-family: 'Aleo', serif;
  font-size: 5.75em;
  color: #fff;
  margin-top: 15px;
  text-align: center;
}
.teaminfo {
  font-size: 0.8em;
  padding-left: 30px;
}
.research-q-inner {
  font-size: 0.8em;
  padding-left: 12px;
}
.research-methods-text {
  font-size: 0.8em;
}
.teamthumb {
  height: 96px;
  width: 96px;
  margin: 0 auto;
  border-radius: 48px;
  -webkit-border-radius: 48px;
  -moz-border-radius: 48px;
}
.indexthumb {
  height: 180px;
  width: 180px;
  margin: 0 auto;
  border-radius: 90px;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
}
.largethumb {
  height: 140px;
  width: 140px;
  margin: 0 auto;
  border-radius: 70px;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
}
h2 {
  font-family: 'Aleo', serif;
  font-size: 2.8em;
  text-align: left;
}
h3 {
  font-family: 'Aleo', serif;
  font-size: 1em;
}
.teslalogo {
  font-family: 'pacificoregular', sans-serif;
  font-size: 2em;
  margin-right: 20px;
}
.menuitem {
  font-family: 'Aleo', serif;
}
.logobox {
  margin-top: 35px;
}
.imgdropshadow {
  padding: 5px;
  border: solid 1px #efefef;
}
.teams-border {
  border-top: 12px solid #5a9ad5;
}
.people-border {
  border-top: 12px solid #543971;
}
.research-border {
  border-top: 12px solid #ffbf00;
}
.document-border {
  border-top: 12px solid #ff3419;
}
.contact-border {
  border-top: 12px solid #429642;
}
.textbox {
  background-color: #fff;
  opacity: 0.9;
  font-family: 'Roboto Slab', serif;
  font-size: 1.5em;
}
.circulargems {
  width: 180px;
  height: 180px;
  margin: 0 auto;
  border-radius: 90px;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  background: url("/images/gems_circle.png") no-repeat;
  background-size: 180px 180px;
  box-shadow: 0 0 8px rgba(0,0,0,0.8);
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.8);
  -moz-box-shadow: 0 0 8px rgba(0,0,0,0.8);
}
.circularhonors {
  width: 180px;
  height: 180px;
  margin: 0 auto;
  border-radius: 90px;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  background: url("/images/honors_sheild.png") no-repeat;
  background-size: 180px 180px;
  box-shadow: 0 0 8px rgba(0,0,0,0.8);
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.8);
  -moz-box-shadow: 0 0 8px rgba(0,0,0,0.8);
}
.circularumd {
  width: 180px;
  height: 180px;
  margin: 0 auto;
  border-radius: 90px;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  background: url("/images/umd_circle.png") no-repeat;
  background-size: 180px 180px;
  box-shadow: 0 0 8px rgba(0,0,0,0.8);
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.8);
  -moz-box-shadow: 0 0 8px rgba(0,0,0,0.8);
}
