@font-face
   font-family LeagueGoth
   font-style normal
   src url(/fonts/LeagueGothic-Regular.otf)

@font-face
   font-family Aleo
   font-style normal
   src url(/fonts/Aleo-Regular.otf)

@font-face {
    font-family: 'pacificoregular';
    src: url('/fonts/Pacifico.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'arvoregular';
  src: ur;('/fonts/Arvo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body
  padding: 50px
  background-image:url('/images/tony.jpg'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

a
  color: #00B7FF

h1
  padding: 10px
  font-family: 'Aleo', serif;
  font-size 5.75em
  color #fff
  margin-top 15px
  text-align center

.teaminfo
  font-size .8em
  padding-left 30px

.research-q-inner
  font-size .8em
  padding-left 12px

.research-methods-text
  font-size .8em

h2
  font-family: 'Aleo', serif;
  font-size 2.8em
  text-align left

h3
  font-family: 'Aleo', serif;
  font-size 1em
.teslalogo
  font-family: 'pacificoregular', sans-serif;
  font-size: 2em;
  margin-right: 20px;

.menuitem
  font-family: 'Aleo', serif;

.logobox
  margin-top 35px

.imgdropshadow {
	padding: 5px;
	border: solid 1px #EFEFEF;
}

.textbox
    border-top: 12px solid #ff3419;
    background-color: #fff;
    opacity: .9;
    font-family: 'Roboto Slab', serif;
    font-size: 1.5em;

.circulargems {
	width: 180px;
	height: 180px;
	margin: 0 auto;
	border-radius: 90px;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	background: url(/images/gems_circle.png) no-repeat;
	background-size: 180px 180px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.circularhonors {
	width: 180px;
	height: 180px;
	margin: 0 auto;
	border-radius: 90px;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	background: url(/images/honors_sheild.png) no-repeat;
	background-size: 180px 180px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.circularumd {
	width: 180px;
	height: 180px;
	margin: 0 auto;
	border-radius: 90px;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	background: url(/images/umd_circle.png) no-repeat;
	background-size: 180px 180px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}