@font-face {
  font-family: LeagueGoth;
  font-style: normal;
  src: url("/fonts/LeagueGothic-Regular.otf");
}
@font-face {
  font-family: Aleo;
  font-style: normal;
  src: url("/fonts/Aleo-Regular.otf");
}
@font-face {
  font-family: 'pacificoregular';
  src: url("/fonts/Pacifico.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  padding: 50px;
  background-image: url("/images/blur2.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
a {
  color: #00b7ff;
}
h1 {
  padding: 10px;
  font-family: 'Aleo', serif;
  font-size: 5.75em;
  color: #fff;
  margin-top: 15px;
  text-align: center;
}
.teslalogo {
  font-family: 'pacificoregular', sans-serif;
  font-size: 2em;
  margin-right: 20px;
}
.menuitem {
  font-family: 'Aleo', serif;
}
.logobox {
  margin-top: 35px;
}
.imgdropshadow {
  padding: 5px;
  border: solid 1px #efefef;
}
.circulargems {
  width: 180px;
  height: 180px;
  margin: 0 auto;
  border-radius: 90px;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  background: url("/images/gems_circle.png") no-repeat;
  background-size: 180px 180px;
  box-shadow: 0 0 8px rgba(0,0,0,0.8);
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.8);
  -moz-box-shadow: 0 0 8px rgba(0,0,0,0.8);
}
.circularhonors {
  width: 180px;
  height: 180px;
  margin: 0 auto;
  border-radius: 90px;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  background: url("/images/honors_sheild.png") no-repeat;
  background-size: 180px 180px;
  box-shadow: 0 0 8px rgba(0,0,0,0.8);
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.8);
  -moz-box-shadow: 0 0 8px rgba(0,0,0,0.8);
}
.circularumd {
  width: 180px;
  height: 180px;
  margin: 0 auto;
  border-radius: 90px;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  background: url("/images/umd_circle.png") no-repeat;
  background-size: 180px 180px;
  box-shadow: 0 0 8px rgba(0,0,0,0.8);
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.8);
  -moz-box-shadow: 0 0 8px rgba(0,0,0,0.8);
}
